.Titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: bisque;
    font-size: 75px;
    text-shadow: 1px 4px 5px rgba(255,255,255,0.58);
    transition: 0.25s;
    cursor: pointer;
   -webkit-text-stroke: 3px black;
    margin-top: 100px;
   
}

.Titulo:hover{
    text-shadow: 1px 4px 5px rgba(255, 255, 255, 0.801);
}

.Detail{
    margin-top: 80px;
    margin-inline: 40px;
    background: linear-gradient(to right, rgba(255, 250, 250, 0.603) 5%, rgb(255, 145, 0) 90%);
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    color:  bisque;
    font-size: 40px;
    font-weight: 900;
    -webkit-text-stroke: 0.5px black;
    text-align: center;
    box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.26);
    
}

.bandera{
    width: 700px;
    height: 400px;
    
}

.actividad{
    margin-inline: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}

.CadaActividad{
    width: 250px;
    height: 250px;
    padding-bottom: 50px;
    background-color:#ee7300a2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    color:  bisque;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.26);
}

.boton {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}