.Titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: bisque;
    font-size: 75px;
    text-shadow: 1px 4px 5px rgba(255,255,255,0.58);
    transition: 0.25s;
    cursor: pointer;
   -webkit-text-stroke: 3px black;
    margin-top: 125px; 
}

.Titulo:hover{
    text-shadow: 1px 4px 5px rgba(255, 255, 255, 0.801);
}

.Detail{
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343131a2;
    margin-inline: 400px;
    border-radius: 40px;
}

.preguntaUno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding-bottom: 20px;
}

.paisesAgregados{
    margin-inline: 100px;
    background-color: beige;
    color: #000000;
    border-radius: 30px;
    padding-inline: 10px;
    padding-top: 5px;
    font-weight: bold;
}

.sinPaises{
    margin-inline: 100px;
    background-color: beige;
    color: #000000;
    border-radius: 40px;
    padding-inline: 10px;
    padding-top: 5px;
    font-weight: bold;
}


.dato{
    font-size: 17px;
    background-color: white;
    padding-inline: 20px;
    border-radius: 40px;
    background-color: #000000;
    color: bisque;
    font-weight: bold;
}

.paisesAgregados{
    margin-inline: 100px;
    background-color: beige;
    color: #000000;
    border-radius: 30px;
    padding-inline: 10px;
    padding-top: 5px;
    font-weight: bold;
}

.boton {
    margin-inline: 150px;
    color: bisque;
    background-color: #312f2d;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.26);
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: 0.25s ease-out;
}

.boton:hover{
    transform: scale(1.25);
}

.dropdownMenu {
    justify-content: center;
    width: 250px;
    position: absolute;
    left: 0;
    z-index: 1;
    margin-inline: 550px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.26);
}

.dato{
    justify-content: center;
    margin-inline: 50px;
    background-color: white;
    padding-inline: 20px;
    border-radius: 40px;
    background-color: #000000;
    color: bisque;
    font-weight: bold;
}

.dropdown{
    background-color: #ff0000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown.open .dropdownMenu {
    display: contents;
}
.scrollableMenu {
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
    padding: 8px;
}

.pregunta2{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pregunta3{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pregunta4{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error{
    width: 450px;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: rgb(238, 255, 0);
}

.botonEnviar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 200px;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: 0.25s ease-out;
}

.letra{
    font-weight: bold;
    font-size: 20px;
    background-color: #4b4b4b;
    box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.26);
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.letra:not(:disabled) {
    border-radius: 40px;
    background-color: #00ff00; /* Color del botón cuando no está habilitado */
    cursor: pointer;
    box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.26);
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: 0.25s ease-out;
  }

.letra:not(:disabled):hover{
    transform: scale(1.25);
}

.reset {
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

