.carta2 { 
  width: calc(20% - 20px); 
  width: 240px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: #313030a2;
  border: 1px solid gray;
  padding: 25px;
  box-sizing: border-box;
  max-height: 300px;
  /* overflow: hidden; */
  }
  
  .carta:hover {
    transform: scale(1.05);
  }
  
  .banderas {
    height: 100px;
    width: 150px;
  }
  
  @media (max-width: 768px) {
    /* Estilos para dispositivos móviles */
    .carta {
      padding: 15px;
    }
  
    .banderas {
      height: 80px;
      width: 120px;
    }
  }
  
  .nombre {
    text-align: center;
    text-decoration: none;
    color: white;
  }
  
  .continente {
    text-decoration: none;
    color: white;
  }